html, body {
    width: 100%;
    margin: 0;
    height: 100%;
}

#container {
    width: 100%;
    height: 100%;
    /*border: 3px solid gray;*/
    /*margin: 0 auto;*/
    /*display: none;*/
}

.add-btn {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 60px;
    background-color: lightgreen;
    cursor: pointer;
}

.raw-gps {
    position: fixed;
    right: 10px;
    top: 100px;
    /*width: 60px;*/
    /*height: 60px;*/
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border: 3px solid gray;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.raw-sensor {
    position: fixed;
    right: 10px;
    top: 150px;
    /*width: 60px;*/
    /*height: 60px;*/
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border: 3px solid gray;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.raw-gps a,
.raw-sensor a {
    color: black;
}

.add-btn img {
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s; /* Firefox 4 */
    -webkit-transition-duration: 0.4s; /* Safari 和 Chrome */
    -o-transition-duration: 0.4s; /* Opera */
}

.add-btn img.rotate {
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); /* Internet Explorer */
    -moz-transform:rotate(45deg); /* Firefox */
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
    -o-transform:rotate(45deg); /* Opera */
}

.inputs {
    display: none;
    position: fixed;
    right: 100px;
    top: 10px;
    width: auto;
    height: auto;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px 20px;
    z-index: 10000;
    background-color: white;
}


label {
    display: block;
    margin-top: 10px;
    font-weight: 700;
    font-size: 0.75em;
}

.inputs > input,
.inputs > textarea {
    border: 0.5px solid lightgray;
    border-radius: 3px;
    padding: 5px 5px;
    display: block;
}

.inputs > input {
    width: 200px;
}

.inputs > textarea {
    width: 300px;
}

.inputs > button {
    border: none;
    border-radius: 3px;
    padding: 10px 10px;
    margin-top: 10px;
    background-color: lightgreen;
}

.mobile {
    border: 3px solid red;
    color: red;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: 700px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    /*font-size: 15px;*/
}